<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Less Is More | Verzamelwoede</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!-- Door deze toe te voegen worden wél de nieuwe classes toegevoegd. De rest overschreven.-->
    <link rel="stylesheet" href="~/css/flatly.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Verzamelwoede_Dezegaatechtnietstuk.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="images/logo.png" class="logo" />
                <a class="navbar-brand-B" asp-area="" asp-controller="Home" asp-action="Index">Verzamelwoede Less Is More</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-expand-sm collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-house"></i>&nbsp Home
                                </a>
                                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="bi bi-incognito"></i>&nbsp Privacy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Items" asp-action="Index">
                                <i class="bi bi-boxes"></i>&nbsp Items
                            </a>
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Filters" asp-action="Index">
                                    <i class="bi bi-filter"></i>&nbsp Filters
                                </a>
                                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Categories" asp-action="Index">
                                    <i class="bi bi-inboxes"></i>&nbsp Categories
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="bi bi-database-exclamation"></i>&nbsp Information
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Error">
                                            <i class="bi bi-database-exclamation"></i>&nbsp Error
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="History">
                                            <i class="bi bi-clock"></i>&nbsp History
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Verz<a asp-area="" asp-controller="Home" asp-action="HiddenArea">a</a>melwoede_Dezegaatechtnietstuk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <img src="images/logo.png" class="logo" usemap="#workmap" />
        <map name="workmap">
            <area shape="circle" coords="25,25,10" href="#" onclick="myFunction()" alt="nop.">
        </map>

        <script>
            function myFunction() {
                alert("Hoi! Je hebt mij gevonden!");
            }
        </script> 

        <select id="styleSelect">
            <option value="css/FlatBS.css">Flat Bootstrap</option>
            <option value="css/flatly.css">Flatly</option>
            <option value="css/NeutronBS.css">Neutron Bootstrap</option>
            <!-- Add more options for each stylesheet -->
        </select>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
