@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="HistoryPage"> <h2>Page Frontend History</h2></div>

@*    <div class="image-container">
        <img src="images/status1510.png" alt="Your Image">
    </div>*@
    <h5>Versie 1:</h5>
<div class="borderDemo"><img src="images/status1510.png" alt="Oude Sitedesign 1" /></div>

