@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Niks is privé. Ik kan niet beloven dat er geen cookies gaan zijn maar vraag er illegaal ook niet naar!</p>
<p><i>Als je dit leest is je legale weerstand uitgeschakeld en hoef ik geen toestemming te vragen!</i></p>
<p>je hebt het gelezen dus nu ben ik immuun voor legale repercussies!</p>
