@using Verzamelwoede_NonBroken.Models;
@model Verzamelwoede_NonBroken.Models.Item

@{
    ViewData["Title"] = "Create";
    var filters = ViewData["Filters"] as List<Filter>;
}

@*@using (Html.BeginForm("Create", "ControllerName", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Your form elements here -->
    <input type="file" name="picture" />
    <input type="submit" value="Submit" />
}*@

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="grid-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="Text">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsesPerYear" class="control-label"></label>
                    <input asp-for="UsesPerYear" class="form-control" />
                    <span asp-validation-for="UsesPerYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
            </div>
            <div class="Image">
                <div class="form-group">
                    <label asp-for="Imageurl" class="control-label"></label>
                    <input asp-for="Imageurl" class="form-control" type="file" name="picture" enctype="multipart/form-data" />
@*                    <input asp-for="Imageurl" class="form-control" type="submit" value="Upload Image"/>*@
                    <span asp-validation-for="Imageurl" class="text-danger"></span>
                </div>
            </div>
            <div class="Filters">
                <div class="form-group">
                    <div class="Gridstuff">
                    @*<select asp-for="Filters" class="form-control">*@
                    <label asp-for="Filters" class="control-label"></label>
                    </select>
                    @if(filters != null){
                        foreach (var filter in filters)
                        {
                            <label class="grid-item">
                                <input type="checkbox" name="filter" value="@filter" />
                                @filter.Name
                            </label>

                            <br />
                        }
                    }
                    @*
                    <label asp-for="filters" class="control-label"></label>
                    <select asp-for="filters" class="form-control" asp-items="ViewBag.Filters"></select>*@
                </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

