html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    align-content: flex-end;
    justify-content: end;
}

.borderedimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('images/border.png') 30 round;
}

.borderDemo {
    outline: 4px solid rgba(194,194,194,0.77);
    outline-offset: 0px;
}
.emoji{
    text-align: center; 
    justify-content: center;
    width: 100%;
}