html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

logo {
    margin-bottom: 20px;
    align-content: flex-end;
    justify-content: end;
}

.borderedimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('images/border.png') 30 round;
}

.borderDemo {
    border: 4px solid #1C6EA4;
}

.image-container {
    border: 2px solid #000; /* 2px wide solid border with a black color */
    display: inline-block; /* This ensures the container wraps the image */
    padding: 10px; /* Optional: Add some padding around the image */
}

