html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 32px;
    height: 32px;
/*    margin-bottom: 20px;  Deze zorgde ervoor dat de header en footer te groot werden! */
    align-content: flex-end;
    justify-content: end;
}

.borderedimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('images/border.png') 30 round;
}

.borderDemo {
    outline: 4px solid rgba(194,194,194,0.77);
    outline-offset: 0px;
}
.emoji{
    text-align: center; 
    justify-content: center;
    width: 100%;
}

.HistoryPage{
    color-interpolation: linearRGB;
}

.navbar-brand-B
{
    font-size: 20px;
    color: red;
}

.Gridstuff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Zou wellicht nog dynamisch sized kunnen worden o.b.v. aantal filters.*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
   /* gap: 2px 2px;*/
    /*    gap: 80px 20px;*/
    grid-auto-flow: row;
    grid-template-areas:
        "Area Area Area Area"
        "Area Area Area Area";
}
/* De nieuwe container maakte het kapot. Dus moet zijn eigen classname krijgen
.container {
    display: grid;
    grid-template-columns: 1fr 1fr [a] 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Text Text Image Image"
        "Text Text Image Image"
        "Filters Filters Filters Filters";
}


.Image {
    grid-area: Image;
}

.Text {
    grid-area: Text;
}

.Filters {
    grid-area: Filters;
}*/
